<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>JavaTech</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<div class="wrapper d-flex align-items-stretch">
		<nav id="sidebar">
			<div class="custom-menu">
				<button type="button" id="sidebarCollapse" class="btn btn-primary">
					<i class="fa fa-bars"></i> <span class="sr-only">Toggle Menu</span>
				</button>
			</div>
			<div class="p-4">
				<h1>
					<a href="home" class="logo">Java Tech</a>
				</h1>
				<ul class="list-unstyled components mb-5">
					<li class="active"><a href="home"><span
							class="fa fa-home mr-3"></span> Home</a></li>
					<li><a href="About"><span class="fa fa-user mr-3"></span>
							About</a></li>
					<li><a href="#"><span class="fa fa-briefcase mr-3"></span>
							Works</a></li>
					<li><a href="#"><span class="fa fa-sticky-note mr-3"></span>
							Blog</a></li>
					<li><a href="#"><span class="fa fa-suitcase mr-3"></span>
							Gallery</a></li>
					<li><a href="#"><span class="fa fa-cogs mr-3"></span>
							Services</a></li>
					<li><a href="#"><span class="fa fa-paper-plane mr-3"></span>
							Contacts</a></li>
				</ul>

				<div class="mb-5">
					<h3 class="h6 mb-3">Subscribe for newsletter</h3>
					<form action="#" class="subscribe-form">
						<div class="form-group d-flex">
							<div class="icon">
								<span class="icon-paper-plane"></span>
							</div>
							<input type="text" class="form-control"
								placeholder="Enter Email Address">
						</div>
					</form>
				</div>

				<div class="footer">
					<p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script>
						All rights reserved | This template is made with <i
							class="icon-heart" aria-hidden="true"></i> by <a
							href="https://colorlib.com" target="_blank">Colorlib.com</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>

			</div>
		</nav>

		<!-- Page Content  -->
		<div id="content" class="p-4 p-md-5 pt-5">
		
	<!-- 	Search bar  -->
		<!-- <p> <input class="form-control" id="myInput" type="text" placeholder="jklasdj"></p> -->
		
			<h2 class="mb-4">What is Java</h2>
			<p>Our core Java programming tutorial is designed for students
				and working professionals. Java is an object-oriented, class-based,
				concurrent, secured and general-purpose computer-programming
				language. It is a widely used robust technology.</p>
			<p>What is Java Java is a programming language and a platform.
				Java is a high level, robust, object-oriented and secure programming
				language. Java was developed by Sun Microsystems (which is now the
				subsidiary of Oracle) in the year 1995. James Gosling is known as
				the father of Java. Before Java, its name was Oak. Since Oak was
				already a registered company, so James Gosling and his team changed
				the Oak name to Java. Platform: Any hardware or software environment
				in which a program runs, is known as a platform. Since Java has a
				runtime environment (JRE) and API, it is called a platform.</p>

			<!-- Or let Bootstrap automatically handle the layout -->
			<div class="row">
				<div class="col">
					<div class="card" style="width: 18rem;">

						<div class="card-body">
							<h5 class="card-title">What is Java</h5>
							<p class="card-text">Some quick example text to build on the
								card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Click for details >></a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card" style="width: 18rem;">

						<div class="card-body">
							<h5 class="card-title">History of Java</h5>
							<p class="card-text">Some quick example text to build on the
								card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Click for details >></a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card" style="width: 18rem;">

						<div class="card-body">
							<h5 class="card-title">Features of Java</h5>
							<p class="card-text">Some quick example text to build on the
								card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Click for details >></a>
						</div>
					</div>
				</div>
			</div>

<br>
			<div class="row">

				<div class="col">
					<div class="card" style="width: 18rem;">

						<div class="card-body">
							<h5 class="card-title">JDK , JVM , JRE</h5>
							<p class="card-text">Some quick example text to build on the
								card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Click for details >></a>
						</div>
					</div>
				</div>


				<div class="col">
					<div class="card" style="width: 18rem;">

						<div class="card-body">
							<h5 class="card-title">How to set path</h5>
							<p class="card-text">Some quick example text to build on the
								card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Click for details >></a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card" style="width: 18rem;">

						<div class="card-body">
							<h5 class="card-title">Hello World Program</h5>
							<p class="card-text">Some quick example text to build on the
								card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Click for details >></a>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>



	<script src="js/jquery.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>